@use "/src/main";

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & > * {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .left {
    .widgets {
      display: flex;
      flex-wrap: wrap;

      gap: 2rem;
    }
  }

  @include main.xl() {
    flex-direction: row;

    .left {
      flex: 2;
    }
    .right {
      flex: 1;
    }

    .widgets {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
