@use "/src/main";
.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: var(--white);
  width: 100%;
  padding: 0 10px;
  box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);

  .search-mobile-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 10px;
    height: 60px;
    top: 70px;
    .search-mobile {
      background-color: var(--white);

      display: flex;
      height: 44px;
      border: 1px solid rgba(1, 41, 112, 0.2);
      border-radius: 5px;
      margin: 0 20px;

      input {
        display: block;

        height: 100%;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: inherit;
        &:focus {
          outline: none;
        }
      }
      .search-icon-mobile {
        display: flex;
        align-items: center;
        background-color: inherit;
        padding: 0 10px;
        border: none;
        font-size: 2.7rem;
        color: var(--primary-color);
        cursor: pointer;
        border-radius: inherit;
      }
    }
  }

  a,
  a:active,
  a:visited {
    text-decoration: none;
    color: var(--primary-color);
  }
  .logo {
    flex: 1;
    height: 60px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: var(--primary-color);
    // margin-right: 150px;

    @include main.lg {
      justify-content: space-between;
    }

    .icon-logo {
      padding: 0 3px;
      border: 2px solid #000;
      font-size: 2rem;
      margin-right: 10px;

      @include main.lg {
        display: inline;
        margin-right: 0;
      }
    }
    .text-logo {
      display: none;
      // font-size: 1rem;

      @include main.lg {
        display: inline;
      }
    }
  }
  .collapse-button {
    display: flex;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
    margin-right: 20px;
  }
  .search {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;

    @include main.sm {
      border: 1px solid rgba(1, 41, 112, 0.2);
      border-radius: 5px;
      margin: 0 20px;

      flex: 2;
    }
    input {
      display: none;

      @include main.sm {
        display: block;

        height: 100%;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: inherit;
      }
    }

    .search-icon {
      height: 70%;
      display: flex;
      align-items: center;
      background-color: inherit;
      padding: 0 10px;
      border: none;
      font-size: 2.7rem;
      color: var(--primary-color);
      cursor: pointer;

      @include main.sm {
        color: grey;
      }
    }
  }
  .right {
    // border: 1px solid #000;
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;

    @include main.sm {
      flex: 3;
    }

    .navbar-icon {
      font-size: 2.7rem;
      cursor: pointer;

      display: flex;
      color: var(--primary-color);
      margin-right: 20px;
    }
    .darkmode {
      margin-right: 10px;
    }
    .profile {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .name {
      display: none;
      @include main.lg {
        display: block;

        margin-left: 7px;
        font-weight: 700;
        color: var(--primary-color);
      }
    }
    .accordion {
      display: flex;
      align-items: center;
      font-size: 2rem;
      color: var(--primary-color);
    }
  }
}
